*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
    outline: none;
    /* background-image: url("../static/assets/etoiles.jpg"); */
}
 .modal {
    position: fixed;
    height: 40%;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    color: #fff;
    opacity: 0;
    background: grey;
 }
 .modal2 {
    position: fixed;
    height: 40%;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    color: #fff;
    opacity: 0;
    background: grey;
 }

 
