@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body,
.container {
    height: 100%;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;    
}

.welcome-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.title-container {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 0;
    transform: translateY(-50%);


}

.title {
    color: whitesmoke;
    padding-left: 4rem;

}

.title h1 {
    font-family: 'Chakra Petch', sans-serif;
    color: whitesmoke;
    font-size: 5rem;
    pointer-events: none;
}

.title p {
    font-family: 'Chakra Petch', sans-serif;
    color: whitesmoke;
    font-size: 2rem;
    pointer-events: none;
    
}

.explore {
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    background-color: #0072ff;
    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
    color: whitesmoke;
}
 .modal {
    position: fixed;
    height: 100vh;
    width: 40%;
    top: 0;
    right: 0;
    color: whitesmoke;
    background: transparent;
    box-shadow: inset 0 4px 15px 0 #0072ff, inset 0 6px 150px 0 #0072ff, 10px 4px 15px 0 #a9c7eb, 0 6px 150px 0 #0072ff;
 }
 .modal2 {
    position: fixed;
    height: 100vh;
    width: 40%;
    top: 0;
    right: 0;
    color: whitesmoke;
    background: transparent;
    box-shadow: inset 0 4px 15px 0 #0072ff, inset 0 6px 150px 0 #0072ff, 10px 4px 15px 0 #a9c7eb, 0 6px 150px 0 #0072ff;
 }
 .modal3 {
    position: fixed;
    height: 100vh;
    width: 40%;
    top: 0;
    right: 0;
    color: whitesmoke;
    background: transparent;
    box-shadow: inset 0 4px 15px 0 #0072ff, inset 0 6px 150px 0 #0072ff, 10px 4px 15px 0 #a9c7eb, 0 6px 150px 0 #0072ff;
 }
 .modal4 {
    position: fixed;
    height: 100vh;
    width: 40%;
    top: 0;
    right: 0;
    color: whitesmoke;
    background: transparent;
    box-shadow: inset 0 4px 15px 0 #0072ff, inset 0 6px 150px 0 #0072ff, 10px 4px 15px 0 #a9c7eb, 0 6px 150px 0 #0072ff;
 }
 @media screen and (min-width: 426px) {

 }

 @media screen and (max-width: 425px) and (orientation: portrait) {
    .container {
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .scroller {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .scroller section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: 100vh;
        width: 100%;
        scroll-snap-align: center;
    }

    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: 100vh;
        width: 100%;
    }
    .title-container {
        position: absolute;
        width: 100%;
        height: auto;
        top: 20%;
        left: 0;
        transform: translateY(-50%);
    }

    .title h1 {
        font-family: 'Chakra Petch', sans-serif;
        color: whitesmoke;
        font-size: 3rem;
        pointer-events: none;
    }
    
    .title p {
        font-family: 'Chakra Petch', sans-serif;
        color: whitesmoke;
        font-size: 1rem;
        pointer-events: none;
        
    }

    .explore {
        cursor: pointer;
        padding: 0.5rem 1rem;
        margin-top: 2rem;
        border: none;
        border-radius: 3px;
        font-weight: 500;
        background-color: #0072ff;
        text-transform: uppercase;
        font-family: 'Chakra Petch', sans-serif;
        color: whitesmoke;
        top: 60%;
    }

    .scrolldown { 
        position: absolute;
        bottom: 10%;
        left: 50%;
        width: 40px;
        height: 40px;
        transform: translateX(-50%) rotate(45deg);
    }

    .scrolldown span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid whitesmoke;
        border-right: 2px solid whitesmoke;
        animation: animate 1.5s linear infinite;
        opacity: 0;
    }

    .scrolldown span:nth-child(1) {
        transform: translate(-15px, -15px);
        animation-delay: -0.4s;
    }
    .scrolldown span:nth-child(2) {
        transform: translate(0, 0);
        animation-delay: -0.2s;
    }
    .scrolldown span:nth-child(3) {
        transform: translate(15px, 15px);
        animation-delay: 0s;
    }
    
    .modal, .modal2, .modal3, .modal4 {
        position: absolute;
        height: 100vh;
        width: 100%;
    }

    @keyframes animate {
        0% {
            top: -5px;
            left: -5px;
            opacity: 0;
        }
        25% {
            top: 0px;
            left: 0px;
            opacity: 1;
        }
        50%, 100% {
            top: 5px;
            left: 5px;
            opacity: 0;
        }
    }

 }



